## Mastering PANDAS

Series is a data containing only one row or only column , meaning its a 1d array .

DataFrame refers to tabular data , consisting of rows and columns , meaning its a 2d array .

In [4]:
#Import the required libraries . 
import numpy as np 
import pandas as pd

In [5]:
# Creating empty dataframe , now onwards we will use df as an alias for DataFrame .
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [6]:
#Creating a DataFrame from a list .
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [7]:
# Creating DataFrame from a list of lists .
data = [1,['a' , 3],4,['b',5]]
df = pd.DataFrame(data)
print(df)

        0
0       1
1  [a, 3]
2       4
3  [b, 5]

In [9]:
# Creating DataFrame from dictionary , but when doing so remember that all the ndarrays must be of same length .
data = [['Dolly',67],['Arunima',88],['Janhavi',85]]
df = pd.DataFrame(data , columns = ['Name' , 'Marks'])
print(df)

      Name  Marks
0    Dolly     67
1  Arunima     88
2  Janhavi     85

In [11]:
# Creating a DataFrame from a dictionary containing lists .
data = {'Name':['Shivam','Shubham','Raj'] , 'Marks':[88,85,86]}
df = pd.DataFrame(data)
print(df)

      Name  Marks
0   Shivam     88
1  Shubham     85
2      Raj     86

In [13]:
# Creating a DataFrame from a lists containing dictionary .
data = [{'Name':'Shivam' , 'Marks':90},{'Name':'Munnu' , 'Marks':88}]
df = pd.DataFrame(data , index=['S1' , 'S2'])
print(df)

      Name  Marks
S1  Shivam     90
S2   Munnu     88

In [14]:
#Creating a DataFrame from a dictionary of series .
data = {'Kiara' : pd.Series([89,70,75] , index=['M1','M2','M3']) ,
        'Adani' : pd.Series([69,73,85] , index=['M1','M2','M3']) }
df = pd.DataFrame(data)
print(df)

    Kiara  Adani
M1     89     69
M2     70     73
M3     75     85