## Pandas from yt - Data School , W-1 , D-6 SOM

[Acces the playlist by clicking here ](https://youtube.com/playlist?list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y&si=XvdrBBpF6eskJDaV)

In [3]:
# Using string methods in pandas

In [4]:
import pandas as pd

In [7]:
orders = pd.read_csv('http://bit.ly/chiporders')

In [8]:
orders.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [9]:
orders.City.str.upper()

0                      ITHACA
1                 WILLINGBORO
2                     HOLYOKE
3                     ABILENE
4        NEW YORK WORLDS FAIR
                 ...
18236              GRANT PARK
18237             SPIRIT LAKE
18238             EAGLE RIVER
18239             EAGLE RIVER
18240                    YBOR
Name: City, Length: 18241, dtype: object

In [12]:
orders[orders.State.str.contains('N')]

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
5,Valley City,NaN,DISK,ND,9/15/1934 15:30
18,Oneida,NaN,RECTANGLE,TN,7/15/1942 1:00
...,...,...,...,...,...
18194,Walpole,GREEN,FIREBALL,NH,12/26/2000 18:20
18195,Walpole,GREEN,FIREBALL,NH,12/26/2000 18:20
18206,Cerrilillo,NaN,NaN,NM,12/28/2000 11:00
18208,Murphreesboro,NaN,FLASH,TN,12/28/2000 12:15
18221,Franklin,NaN,DISK,NH,12/29/2000 20:50